<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>CHESPIN</string>
        <string>QUILLADIN</string>
        <string>CHESNAUGHT</string>
        <string>FENNEKIN</string>
        <!--<string>BRAIXEN</string>
        <string>DELPHOX</string>
        <string>FROAKIE</string>
        <string>FROGADIER</string>
        <string>GRENINJA</string>
        <string>BUNNELBY</string>
        <string>DIGGERSBY</string>
        <string>FLETCHLING</string>
        <string>FLETCHINDER</string>
        <string>TALONFLAME</string>
        <string>SCATTERBUG</string>
        <string>SPEWPA</string>
        <string>VIVILLON</string>
        <string>LITLEO</string>
        <string>PYROAR</string>
        <string>FLABEBE</string>
        <string>FLOETTE</string>
        <string>FLORGES</string>
        <string>SKIDDO</string>
        <string>GOGOAT</string>
        <string>PANCHAM</string>
        <string>PANGORO</string>
        <string>FURFROU</string>
        <string>ESPURR</string>
        <string>MEOWSTIC</string>
        <string>HONEDGE</string>
        <string>DOUBLADE</string>
        <string>AEGISLASH</string>
        <string>SPRITZEE</string>
        <string>AROMATISSE</string>
        <string>SWIRLIX</string>
        <string>SLURPUFF</string>
        <string>INKAY</string>
        <string>MALAMAR</string>
        <string>BINACLE</string>
        <string>BARBARACLE</string>
        <string>SKRELP</string>
        <string>DRAGALGE</string>
        <string>CLAUNCHER</string>
        <string>CLAWITZER</string>
        <string>HELIOPTILE</string>
        <string>HELIOLISK</string>
        <string>TYRUNT</string>
        <string>TYRANTRUM</string>
        <string>AMAURA</string>
        <string>AURORUS</string>
        <string>SYLVEON</string>
        <string>HAWLUCHA</string>
        <string>DEDENNE</string>
        <string>CARBINK</string>
        <string>GOOMY</string>
        <string>SLIGGOO</string>
        <string>GOODRA</string>
        <string>KLEFKI</string>
        <string>PHANTUMP</string>
        <string>TREVENANT</string>
        <string>PUMPKABOO</string>
        <string>GOURGEIST</string>
        <string>BERGMITE</string>
        <string>AVALUGG</string>
        <string>NOIBAT</string>
        <string>NOIVERN</string>
        <string>XERNEAS</string>
        <string>YVELTAL</string>
        <string>ZYGARDE</string>-->
    </array>
</plist>